#testImg{
	position: absolute;
	left: 200px;
}
.imgCutWrapDiv{
	position: absolute;
	background-color: black;
	opacity: 0;
	cursor: crosshair;
}
.imgCutWrapDiv .cutDiv{
	z-index: 360;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	position: absolute;	
	display: none;
	border: 1px #fff dashed;
	cursor: move;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);	/* Safari å’Œ Chrome */
	-moz-transform: translate3d(0,0,0);
}
.imgCutWrapDiv .cutImg{
	position: absolute;	
}
.imgCutWrapDiv .dragDiv{
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: 80;		
}
.imgCutWrapDiv .imgWrap{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 79;
}
.imgCutWrapDiv .resize-handle{
	width: 7px;
	height: 7px;
	position: absolute;
	border: 1px solid #eee;
	background-color: #333;
	opacity: 0.5;
	z-index: 101;
}
.imgCutWrapDiv .resize-dragbar{
	position: absolute;
	z-index: 100;
}
.imgCutWrapDiv .resize-t{
	cursor: n-resize;
	width: 100%;
	height: 7px;
	top: 0px;
	margin-top: -4px;
}
.imgCutWrapDiv .resize-b{
	cursor: s-resize;
	width: 100%;
	height: 7px;
	bottom: 0px;
	margin-bottom: -4px;
}
.imgCutWrapDiv .resize-l{
	cursor: w-resize;
	width: 7px;
	height: 100%;
	left: 0px;
	margin-left: -4px;
}
.imgCutWrapDiv .resize-r{
	cursor: e-resize;
	width: 7px;
	height: 100%;
	right: 0px;
	margin-right: -4px;
}
.imgCutWrapDiv .resize-lt{
	cursor:nw-resize;
	left: 0;
	top: 0;
	margin-left: -4px;
	margin-top: -4px;
}
.imgCutWrapDiv .resize-lb{
	cursor:sw-resize;
	left: 0;
	bottom: 0;
	margin-left: -4px;
	margin-bottom: -4px;
}
.imgCutWrapDiv .resize-rt{
	cursor: ne-resize;
	right: 0;
	top: 0;
	margin-right: -4px;
	margin-top: -4px;
}
.imgCutWrapDiv .resize-rb{
	cursor: se-resize;
	right: 0;
	bottom: 0;
	margin-right: -4px;
	margin-bottom: -4px;
}